.app {
    text-align: center;
    background-color: #282c34;
    min-height: 125vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.appHeader {
    margin-top: 20px;
    margin-bottom: 30px;
}

.sortable {
    cursor: pointer;
}

.ticketButton {
    margin-left: 25px;
}

.ticketButtons {
    text-align: right;
}

.ticketDates {
    margin-right: 10px;
    text-align: right;
    display: inline-block;
    float: right;
    font-size: 0.9rem;
    right: 0;
}

.ticketHeader {
    margin-top: 10px;
    margin-bottom: 20px;
    padding-bottom: 10px;
}

.ticketModal {
    position: absolute;
    background-color: white;
    color: #282c34;
    min-height: 50vh;
    min-width: 80vw;
    border-radius: 10px;
    margin: 130px 30px 30px;
    padding: 20px 10px;
    text-align: left;
}

.ticketNumber {
    display: inline-block;
}

.ticketTable {
    color: white !important;
    text-align: center;
}

.toggle-switch > input:checked + .slider:before {
    background-color: #28a745 !important;
}

.react-formik-ui.themed .form-element .radio-wrapper .radio-options .radio-option input[type=radio]:checked + label:after,
.react-formik-ui.themed .form-element .radio-wrapper .radio-options .radio-option input[type=radio]:not(:checked) + label:after {
    left: 0 !important;
    top: 0 !important;
    width: 18px !important;
    height: 18px !important;
}